In [24]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [25]:
# Reading the Dataset
dataset = pd.read_csv('Chronic kidney disease prediction.csv')

In [26]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,Possible
0,2,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,97,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,97,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,98,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,99,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,99,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [27]:
#it replaces 'yes' with 1 and 'no' with 0.
dataset['Possible'] = dataset['Possible'].replace(['yes','no'], [1,0])

In [28]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,Possible
0,2,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,1
1,3,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,1
2,4,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,1
3,5,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,1
4,5,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,97,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,1
395,97,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,1
396,98,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,1
397,99,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,1
398,99,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,0

In [29]:
dictonary = {
        "rbc": {
        "abnormal":1,
        "normal": 0,
    },
        "pc":{
        "abnormal":1,
        "normal": 0,
    },
        "pcc":{
        "present":1,
        "notpresent":0,
    },
        "ba":{
        "notpresent":0,
        "present": 1,
    },
        "htn":{
        "yes":1,
        "no": 0,
    },
        "dm":{
        "yes":1,
        "no":0,
    },
        "cad":{
        "yes":1,
        "no": 0,
    },
        "appet":{
        "yes":1,
        "poor": 0,
    },
        "pe":{
        "yes":1,
        "poor":0,
    },
        "ane":{
        "yes":1,
        "no":0,
    },
        "sg":{
        "a":0,
        "b":1,
        "c":2,
        "d":3,
        "e":4,
        }
}

In [30]:
dataset=dataset.replace(dictonary)

In [31]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,Possible
0,2,76.459948,2,3,0,0,1,0,0,148.112676,...,38.868902,8408.191126,4.705597,0,0,0,1,1,0,1
1,3,76.459948,2,2,0,0,0,0,0,148.112676,...,34.000000,12300.000000,4.705597,0,0,0,1,0,0,1
2,4,76.459948,0,1,0,0,0,0,0,99.000000,...,34.000000,8408.191126,4.705597,0,0,0,1,0,0,1
3,5,76.459948,3,1,0,0,0,0,0,148.112676,...,38.868902,8408.191126,4.705597,0,0,0,1,0,1,1
4,5,50.000000,2,0,0,0,0,0,0,148.112676,...,36.000000,12400.000000,4.705597,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,97,70.000000,0,0,0,0,0,0,0,219.000000,...,37.000000,9800.000000,4.400000,0,0,0,1,0,0,1
395,97,70.000000,2,0,2,0,0,0,0,220.000000,...,27.000000,8408.191126,4.705597,1,1,0,1,0,1,1
396,98,70.000000,2,3,0,0,0,0,0,110.000000,...,26.000000,9200.000000,3.400000,1,1,0,0,0,0,1
397,99,90.000000,0,0,0,0,0,0,0,207.000000,...,38.868902,8408.191126,4.705597,1,1,0,1,0,1,1
398,99,80.000000,0,0,0,0,0,0,0,100.000000,...,53.000000,8500.000000,4.900000,0,0,0,1,0,0,0

In [32]:
dataset.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'Possible'],
      dtype='object')

In [33]:
indep=dataset[['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane',]]
dep=dataset['Possible']

In [34]:
indep

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hrmo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,2,76.459948,2,3,0,0,1,0,0,148.112676,...,12.518156,38.868902,8408.191126,4.705597,0,0,0,1,1,0
1,3,76.459948,2,2,0,0,0,0,0,148.112676,...,10.700000,34.000000,12300.000000,4.705597,0,0,0,1,0,0
2,4,76.459948,0,1,0,0,0,0,0,99.000000,...,12.000000,34.000000,8408.191126,4.705597,0,0,0,1,0,0
3,5,76.459948,3,1,0,0,0,0,0,148.112676,...,8.100000,38.868902,8408.191126,4.705597,0,0,0,1,0,1
4,5,50.000000,2,0,0,0,0,0,0,148.112676,...,11.800000,36.000000,12400.000000,4.705597,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,97,70.000000,0,0,0,0,0,0,0,219.000000,...,12.500000,37.000000,9800.000000,4.400000,0,0,0,1,0,0
395,97,70.000000,2,0,2,0,0,0,0,220.000000,...,8.700000,27.000000,8408.191126,4.705597,1,1,0,1,0,1
396,98,70.000000,2,3,0,0,0,0,0,110.000000,...,9.100000,26.000000,9200.000000,3.400000,1,1,0,0,0,0
397,99,90.000000,0,0,0,0,0,0,0,207.000000,...,8.500000,38.868902,8408.191126,4.705597,1,1,0,1,0,1
398,99,80.000000,0,0,0,0,0,0,0,100.000000,...,16.300000,53.000000,8500.000000,4.900000,0,0,0,1,0,0

In [35]:
dep

0      1
1      1
2      1
3      1
4      1
      ..
394    1
395    1
396    1
397    1
398    0
Name: Possible, Length: 399, dtype: int64

In [36]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [37]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [38]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

param_grid = {'criterion':['gini','entropy'],
              'max_features': [None,'sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [39]:
# print best parameter after tuning 

result=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test)

In [40]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

In [41]:
print(cm)

[[47  4]
 [ 0 82]]

In [42]:
# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [43]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       1.00      0.92      0.96        51
           1       0.95      1.00      0.98        82

    accuracy                           0.97       133
   macro avg       0.98      0.96      0.97       133
weighted avg       0.97      0.97      0.97       133

In [44]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': None, 'splitter': 'random'}: 0.9696690706357731

In [45]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9607843137254902

In [46]:
table=pd.DataFrame.from_dict(result)

In [47]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.031202,0.038214,0.006227,0.007626,gini,None,best,"{'criterion': 'gini', 'max_features': None, 's...",0.962963,1.000000,0.981217,0.922492,0.981031,0.969541,0.026279,3
1,0.000000,0.000000,0.003104,0.006208,gini,None,random,"{'criterion': 'gini', 'max_features': None, 's...",1.000000,0.962264,0.981217,0.943651,0.943651,0.966157,0.021910,5
2,0.000000,0.000000,0.006251,0.007656,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",1.000000,0.981233,0.944023,0.924528,0.981031,0.966163,0.027629,4
3,0.003126,0.006252,0.006251,0.007656,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.963284,0.943699,0.981217,0.924528,1.000000,0.962546,0.026655,6
4,0.006251,0.007656,0.003125,0.006250,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.942166,0.981217,0.863141,0.943093,0.945923,0.047000,11
5,0.003103,0.006205,0.003125,0.006251,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.945100,0.924528,0.943093,0.962264,1.000000,0.954997,0.025480,7
6,0.012502,0.006251,0.003125,0.006250,entropy,None,best,"{'criterion': 'entropy', 'max_features': None,...",0.872428,0.981014,0.981217,0.922492,0.962264,0.943883,0.041650,12
7,0.003125,0.006250,0.009376,0.007655,entropy,None,random,"{'criterion': 'entropy', 'max_features': None,...",0.981569,0.943699,0.962573,0.962573,1.000000,0.970083,0.019162,1
8,0.003125,0.006250,0.006251,0.007655,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.962517,0.924528,0.925524,0.962264,0.961826,0.947332,0.018217,10
9,0.006250,0.007655,0.003125,0.006251,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.981569,0.906935,0.962264,0.962573,0.943093,0.951287,0.025295,8
10,0.006251,0.007655,0.006249,0.007654,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.981569,0.923510,0.906705,0.962264,0.981217,0.951053,0.030634,9
11,0.003126,0.006251,0.003126,0.006251,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.981569,0.962264,0.943651,0.962264,1.000000,0.969950,0.019224,2

In [48]:
Future_Prediction=grid.predict([[ 6, 60, 2, 4, 0, 0, 0, 0, 1, 94, 67, 1,135, 4.9, 9.9, 30, 16700, 4.8, 0,0,0,0,0 ,0]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]